.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.SocialMediaShareButton {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}

.Create-a-new-poll {
  display: inline-block;
  width: 265px;

  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-bottom: 10px;
}

.OptionSpan {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 15px;
  color: #000000;
  font-size: 18px;
}

.InputField {
  padding: 23px 10px 26px 10px;
}

.another {
  width: 216px;
  /* height: 10px; */
  border-radius: 28px;
  border: solid 1px #000000;
  background: transparent;
  vertical-align: middle;
  padding: 3px;
  font-weight: 500;
  margin-top: 10px;
}

.yellowButton,
.yellowButton:hover {
  width: 216px;
  height: 48px;
  display: inline-block;
  width: 312px;
  border: solid 1px #fff46d;
  border-radius: 28px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  background: transparent;
  vertical-align: middle;
  background-color: #fff46d;
  padding-bottom: 5px;
}

.yellowButton:hover {
  opacity: 70%;
}

.card {
  border: none;
}

.createHeading {
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 25px 10px;
}

.createDescription {
  font-size: 16px;
  display: block;

  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 25px 10px;
}

.pollViewHeading {
  display: block;

  height: 40px;
  margin: 20px 0px;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.pollViewDesc {
  display: inline-block;
  font-weight: 500;
  color: #000000;
}

.Rectangle {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.middle {
  transition: 0.5s ease;
  opacity: 100;
  position: absolute;
  top: 104px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.voteCount {
  color: white;
  font-size: 44px;
  font-weight: 600;
  text-align: left;
  margin-top: 11px;
}

.pollItemViewHeadin {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-top: 15px;
}

.pollItemViewFeature {
  font-size: 16px;
  margin: 10px 0px;
  font-weight: 500;
  text-align: left;
}

.pollItemViewLink {
  text-align: left;
  display: inline-block;
  margin: 5px 0px;
  /* padding: 20px; */
  padding-top: 10px;
  /* max-width: 100px; */
  font-size: 16px;
  font-weight: 500;
  color: #444444;
}

.pollItemViewLink:hover {
  opacity: 70%;
  font-size: 16px;
  font-weight: 500;
  color: #444444;
}

.pollItemViewCost {
  border-radius: 5px;

  display: block;
  border-radius: 5px;
  background-color: rgba(216, 216, 216, 0.5);
  margin: 10px;
  padding: 10px;
  font-weight: 700;
  min-width: 100px;
}

.costHolder {
  min-height: 55px;
  display: block;
}

.pollItemViewImage {
  border-radius: 5px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voteButton,
.voteButton:hover {
  margin-top: 15px;
  display: inline-block;
  width: 312px;
  border: solid 1px #fff46d;
  border-radius: 28px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  background: transparent;
  vertical-align: middle;
  background-color: #fff46d;
}

.voteButton:hover {
  opacity: 70%;
}
.sharePollShare {
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
  font-stretch: normal;
}
.sharePollRandomImage {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.sharePollH1 {
  margin: 0px 0px 72px;
  text-align: left;
  font-size: 51px;
}
.sharePollTitle {
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  margin: 40px;
}

.registerHeading {
  font-size: 31px;
  font-weight: 600;
  text-align: left;
  margin: 20px 20px;
}

.registerDesc {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 10px 20px 30px 16px;
}
